/* 
Name = Sreeraj Chemmadath Sreenivasan
Student ID = 100911366
File name = style.css
Description = Webpage for a fake college
 */
z

/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: bodyFont;
    src: url(font/bodyFont/Bebas_Neue/BebasNeue-Regular.ttf);
  }

@font-face{
    font-family: headingFont;
    src:url(font/headFont/Protest_Revolution/ProtestRevolution-Regular.ttf);
}

  body{
    font-family: bodyFont;
    font-size: 10px;
    line-height: 20px;
    letter-spacing : normal;
    word-spacing: 5px;  
    }

  head{
    font-family: headinfFont;
    font-size: 20px; 
  }
  header{
    text-align: center;
    letter-spacing: 7px;
  }
  section{
    text-indent: 20px;
    font-size: 15px;
  }
  /*here ":" is used to create psuedoClasses like hover , visited and focus*/
a:visited{
    color : #118939;
}
a:focus{/* this would work when we use tab key to access the website*/
    color:purple; 
    outline : none;/*to remove default focus outline from all the pages*/  
}
a:hover{
    color: red
}

a[href*="http"] { /*To add icons to every links starting with http*/
  padding-right: 19px;
  background:url(icon/external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}
li{
  line-height: 1.5em;
}
nav ul{ /*this will touch every unordered list inside the nav tag*/
  padding-left:0;
  margin-top: 0.8rem;
}
nav li{/*This will touch every list items inside the nav tag list */
  list-style-type:none;
  margin-bottom : 2rem;
}
nav li a {/*this will touch every links in the list inside the nava tag*/

  text-decoration: none;
  display: inline-block;
  width:100%;
  line-height: 3;
  text-align: center
}