/* 
Name = Sreeraj Chemmadath Sreenivasan
Student ID = 100911366
File name = style.css
Description = This is a cool looking box
 */

 html{
    font-family: sans-serif;
 }

 div{

    width: 300px;
    line-height: 10;
    margin: auto;
    font-size: 1.111rem;/*Font size is set 1.111rems.*/
    background-color:#30C2F3;
    color: black;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    border-radius: 1rem;
    border :1px; 
    


 }