/* 
Name = Sreeraj Chemmadath Sreenivasan
Student ID = 100911366
File name = style.css
Description = This is a cool looking box
 */

 html{
    font-family: sans-serif;
 }

 div{

    width: 300px;
    line-height: 10;

    margin: auto;

    /*Font size is set to a values in terms of rems.*/
    font-size: 1.111rem;

    

 }